<h1>About page</h1>

<%=link_to 'home', root_path%>

<p>The letter alpha represents various concepts in physics and chemistry, including alpha radiation, angular acceleration, 
alpha particles, alpha carbon and strength of electromagnetic interaction (as Fine-structure constant).
Alpha also stands for thermal expansion coefficient of a compound in physical chemistry. It is also commonly used in mathematics in
algebraic solutions representing quantities such as angles. Furthermore, in mathematics, the letter alpha is used to denote the area 
underneath a normal curve in statistics to denote significance level[4] when proving null and alternative hypotheses.
In zoology, it is used to name the dominant individual in a wolf or dog pack.</p>